:root{
    --btnBackground: #9cd0f6;
    --btnBackgroundHover: #4899cb;
    --mainBackground: #fffdfd;
    --mainTextColor: #000000;
    --secondaryBackground: #4f545c;
}

body {
    position: relative;
    margin: 8px;
    min-height: 793px;
    background: var(--mainBackground);
    color: var(--mainTextColor);
}

header {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#display-highscore-div > button,
#highscore-input-div > button,
header button {
    text-decoration: none;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
}

header p {
    padding: 3px 10px 3px 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 256px 40px 256px;
}

main h1 {
    margin: 24px;
    font-size: 200%;
    text-align: center;
}

main > div,
#instructions {
    padding: 0 15% 0 15%;
    text-align: center;
    font-size: 125%;
}

main > button {
    margin: 24px;
    width: max-content;
    padding: 0 10px 0 10px;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 10px;
    font-size: 150%;
}

main > ul {
    align-self: flex-start;
    margin-left: 15%;
}

main > ul li {
    margin: 24px;
    width: max-content;
    min-width: 170x;
    padding: 5px 10px 5px 10px;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 10px;
    font-size: 150%;
}

main > div {
    justify-content: flex-start;
    display: none;
}

main > div > * {
    margin: 16px;
}

#submit-highscore-div button:hover,
#display-highscore-div button:hover,
body button:hover, /* all buttons have same hover effect so reuse code :) */
main > ul li:hover {
    background: var(--btnBackgroundHover);
    cursor: pointer;
}

footer {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#highscore-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#highscore-input-div > *{
    margin: 8px;
}

#highscore-input-div > p {
    display: inline;
}

#highscore-input-div > input {
    width:30%;
}